@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --rose-quartz: #f7cac9;
  --blush: #ffc0cb;
  --dusty-rose: #dcae96;
  --mauve: #e0b0ff;
  --peach: #ffdab9;
  --champagne: #f7e7ce;
  --silver: #c0c0c0;
}

* {
  box-sizing: border-box;
  font-family: Nunito;
}

body {
  margin: 0;
}
